<div class="row">
    <div class="col-md-12">
        <form (ngSubmit)="addNewIngredient(formRef)" #formRef="ngForm">
            <div class="row">
                <div class="col-md-5 form-group">
                    <label for="ingredientName">Name</label>
                    <input type="text" class="form-control" name="ingredientName" required ngModel>
                </div>
                <div class="col-md-2 form-group">
                    <label for="ingredientAmount">Amount</label>
                    <input type="number" class="form-control" name="ingredientAmount" required pattern="^[1-9]+[0-9]*$" ngModel>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 form-group">
                    <button type="submit" class="btn btn-success" [disabled]="!formRef.valid">{{ editMode === true ? 'Update' : 'Add' }}</button>
                    <button class="btn btn-danger">Delete</button>
                    <button class="btn btn-primary">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>